<% layout("/layouts/boilerplate") %>
<body>
        <form method="post" action="/listings/">
           
            <input type="text" name="title" placeholder="title"> Title
             <br>
             <br>
            <input type="text" name="description" placeholder="description"> Description
            <br>
            <br>
            <input type="number" name="price" placeholder="price"> Price
            <br>
            <br>
            <input type="text" name="location" placeholder="location"> Location
            <br>
            <br>
            <input type="text" name="country" placeholder="country"> Country
            <br>
            <br>

            
           
            <button>Create</button>
        </form>
</body>
