<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New listing</title>
</head>
<body>
        <form method="post" action="/listings/">
           
            <input type="text" name="title" placeholder="title"> Title
             <br>
             <br>
            <input type="text" name="description" placeholder="description"> Description
            <br>
            <br>
            <input type="number" name="price" placeholder="price"> Price
            <br>
            <br>
            <input type="text" name="location" placeholder="location"> Location
            <br>
            <br>
            <input type="text" name="country" placeholder="country"> Country
            <br>
            <br>

            
           
            <button>Create</button>
        </form>
</body>
</html>